// Nav Styles

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 1rem 0;

        >li {
            padding: 0 1rem;

            a:not(:hover) {
                text-decoration: none;
            }

            &:last-child {
                padding-right: 0;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }
}